In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [16]:
df.columns

Index(['Make', 'Model', 'Nickname', 'Car Gender', 'Buyer Gender', 'Buyer Age',
       'Buzzword', 'Country', 'City', 'Dealer Latitude', 'Dealer Longitude',
       'Color', 'New Car', 'Purchase Date', 'Sale Price', 'Discount',
       'Resell Price', '5-yr Depreciation', 'Top Speed', '0-60 Time'],
      dtype='object')

In [35]:
df.drop(['Year', 'Month'], axis=1)

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,...,Color,New Car,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time,Day
0,Suzuki,Vitara,Philippine,Female,Female,51,User-friendly,Belgium,Antwerpen,51.247239,...,Yellow,False,19/07/2009,54806.14,0.2467,33858.32,0.13,200.9,11.5,19
1,Honda,S2000,Henrik,Male,Male,30,analyzing,China,Jinhu,33.025433,...,Crimson,False,26/10/2015,51826.30,0.3147,2989.28,0.02,158.5,8.8,26
2,BMW,Z4,Lebbie,Male,Female,54,software,China,Gemo,30.916207,...,Khaki,False,28/03/2010,82929.14,0.5414,35049.16,0.24,149.5,14.4,28
3,Toyota,Tacoma,Jefferey,Female,Male,68,monitoring,Portugal,Queluz de Baixo,38.745168,...,Puce,False,07/05/2008,56928.66,0.0850,8236.15,0.20,153.3,11.5,7
4,Ford,Festiva,Glendon,Female,Male,70,Sharable,Latvia,Jaunpils,56.729980,...,Yellow,False,01/06/2008,77201.26,0.1642,32765.76,0.18,122.0,14.9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Mazda,Tribute,Cooper,Male,Male,44,hardware,Pakistan,Chishtiān Mandi,29.919386,...,Pink,False,05/01/2020,58580.65,0.1611,42640.82,0.14,245.8,8.0,5
9996,GMC,Sierra 2500,Dud,Male,Male,40,Enhanced,Costa Rica,Ángeles,10.075000,...,Puce,False,28/12/2005,75229.74,0.2691,21115.58,0.11,147.4,12.3,28
9997,Mercury,Mariner,Chariot,Male,Male,37,monitoring,Poland,Dąbrowice,52.311923,...,Blue,False,08/03/2013,34755.44,0.2493,2731.25,0.12,198.1,11.8,8
9998,Daewoo,Leganza,Dynah,Female,Female,21,cohesive,Philippines,Villasis,15.901640,...,Teal,True,21/02/2008,98725.42,0.4654,18718.58,0.04,206.7,12.2,21
9999,Toyota,Sequoia,Zedekiah,Female,Male,21,analyzing,Philippines,Basud,14.048167,...,Pink,False,16/12/2017,96769.78,0.5446,4545.95,0.07,242.1,3.2,16

In [27]:
# day - month - year
day = df.iloc[0]['Purchase Date'].split('/')[0]
month = df.iloc[0]['Purchase Date'].split('/')[1]
year = df.iloc[0]['Purchase Date'].split('/')[2]

In [33]:
df['Day'] = df['Purchase Date'].apply(lambda x: int(x.split('/')[0]))
df['Month'] = df['Purchase Date'].apply(lambda x: int(x.split('/')[1]))
df['Year'] = df['Purchase Date'].apply(lambda x: int(x.split('/')[2]))

In [32]:
df

,Make,Model,Nickname,Car Gender,Buyer Gender,Buyer Age,Buzzword,Country,City,Dealer Latitude,...,Purchase Date,Sale Price,Discount,Resell Price,5-yr Depreciation,Top Speed,0-60 Time,Day,Month,Year
0,Suzuki,Vitara,Philippine,Female,Female,51,User-friendly,Belgium,Antwerpen,51.247239,...,19/07/2009,54806.14,0.2467,33858.32,0.13,200.9,11.5,19,07,2009
1,Honda,S2000,Henrik,Male,Male,30,analyzing,China,Jinhu,33.025433,...,26/10/2015,51826.30,0.3147,2989.28,0.02,158.5,8.8,26,10,2015
2,BMW,Z4,Lebbie,Male,Female,54,software,China,Gemo,30.916207,...,28/03/2010,82929.14,0.5414,35049.16,0.24,149.5,14.4,28,03,2010
3,Toyota,Tacoma,Jefferey,Female,Male,68,monitoring,Portugal,Queluz de Baixo,38.745168,...,07/05/2008,56928.66,0.0850,8236.15,0.20,153.3,11.5,07,05,2008
4,Ford,Festiva,Glendon,Female,Male,70,Sharable,Latvia,Jaunpils,56.729980,...,01/06/2008,77201.26,0.1642,32765.76,0.18,122.0,14.9,01,06,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Mazda,Tribute,Cooper,Male,Male,44,hardware,Pakistan,Chishtiān Mandi,29.919386,...,05/01/2020,58580.65,0.1611,42640.82,0.14,245.8,8.0,05,01,2020
9996,GMC,Sierra 2500,Dud,Male,Male,40,Enhanced,Costa Rica,Ángeles,10.075000,...,28/12/2005,75229.74,0.2691,21115.58,0.11,147.4,12.3,28,12,2005
9997,Mercury,Mariner,Chariot,Male,Male,37,monitoring,Poland,Dąbrowice,52.311923,...,08/03/2013,34755.44,0.2493,2731.25,0.12,198.1,11.8,08,03,2013
9998,Daewoo,Leganza,Dynah,Female,Female,21,cohesive,Philippines,Villasis,15.901640,...,21/02/2008,98725.42,0.4654,18718.58,0.04,206.7,12.2,21,02,2008
9999,Toyota,Sequoia,Zedekiah,Female,Male,21,analyzing,Philippines,Basud,14.048167,...,16/12/2017,96769.78,0.5446,4545.95,0.07,242.1,3.2,16,12,2017